<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= restaurant.address %></p>

  <h3>Reviews</h3>
  <% @restaurant.reviews.each do |review| %>
  <div class="card mb-2">
    <div class="card-body">
      <p><%= review.content %></p>
      <div class="text-muted">Rating: <%= review.rating %>/5</div>
    </div>
  </div>
  <% end %>

  <h4>Add a Review</h4>
  <%= simple_form_for [@restaurant, @review] do |form| %>
  <%= form.input :rating, collection: 0..5 %>
  <%= form.input :content %>
  <%= form.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
</div>
